<div class="columns features">

  <div class="column is-4" data-target="flighthub">
    <div class="card is-shady">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/flighthub.jpg" alt="flighthub deals" class="modal-button" >
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>FLIGHTHUB DEALS</h4>
          <p>FlightHub is one of the best sites to plan, book and manage your travel plans! All flight itineraries are compared instantly, giving you the cheapest flights and best ticket deals available online!</p>
          <span class="button is-link modal-button">BOOK NOW</span>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-4" data-target="travelocity">
    <div class="card is-shady">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/travelocity.jpg?v=1" alt="travelocity deals" >
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>TRAVELOCITY DEALS</h4>
          <p>Travelocity is a 'one-stop shop' for customers looking to purchase travel. Book all your travel, flights, hotels, vacations and cruises directly with Travelocity.</p>
          <span class="button is-link modal-button">CHECK IT OUT</span>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-4 modal-button" data-target="clearme">
    <div class="card is-shady">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/clear.jpg?" alt="clear deals">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>CLEAR DEALS</h4>
          <p>By transforming your biometrics - like your eyes and face - into a single touchless ID, you can rely on CLEAR for a faster, safer experience, every time. CLEAR keeps you moving, without contact or crowds. Find CLEAR in 65+ airports, sports venues.</p>
          <span class="button is-link modal-button">CHECK IT OUT</span>
        </div>
      </div>
    </div>
  </div>

</div>

